<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js" integrity="sha512-J7UHpLx39bpqtP+aWP6yIuXroFk0XPkDQaS9zDthM4TVeaXstWYh556gxsXwwIwpAPSoKqVHW+eqz3B93SpyKg==" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - Satans Gay Bakery</title>
</head>
<body>
    <!--<header>-->
        <!-- nav? -->
    <!--</header>
    <div class="container">
        <h1>Satan's gay bakery</h1>
        <h2>Extra life</h2>
        <main role="main" class="pb-3">-->
            @RenderBody()
        @*</main>
    </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>
                &copy; 2020 - Satan's Gay Bakery - <a href="https://extra-life.org/?ref=satans-gay-bakery">Extra-life.org</a>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
